<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-6 offset-2 m-3">
            <form action="/login" method="post" class="needs-validation" novalidate>
                <h3>Log In To Wanderlust</h3>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" placeholder="Enter username" class="form-control" required>
                    <div class="invalid-feedback">Please enter a username.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" required>
                    <div class="invalid-feedback">Please enter a password.</div>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>